<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Vending Machine</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<style>
    #myProgress {
        width: 100%;
        background-color: #ddd;
    }

    #myBar {
        width: 10%;
        height: 30px;
        background-color: #4CAF50;
        text-align: center;
        line-height: 30px;
        color: white;
    }
</style>

<body>
    <div align="center">
        <h3>Standard Bank Vending Machine</h3>
        <h5>Proudct List - Items Available</h5>
        <a href="new">Add New Product</a>
        <br /><br />
        <table border="1" cellpadding="10">
            <thead>
                <tr>
                    <th>Item ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${listProducts}">
                    <td th:text="${product.id}">Item ID</td>
                    <td th:text="${product.name}">Name</td>
                    <td th:text="${product.cost}">Price</td>
                    <td th:text="${product.quantity}">Quantity</td>
                    <td>
                        <a th:href="@{'/edit/' + ${product.id}}">Edit</a>
                        &nbsp;&nbsp;&nbsp;
                        <a th:href="@{'/delete/' + ${product.id}}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="myProgress">
        <div id="myBar">0%</div>
    </div>

    <br>
    <button onclick="location.reload(); move()">Refresh</button>

    <script>
        location.reload();

        function move() {
            var elem = document.getElementById("myBar");
            var width = 10;
            var id = setInterval(frame, 10);
            function frame() {
                if (width >= 100) {
                    clearInterval(id);
                } else {
                    width++;
                    elem.style.width = width + '%';
                    elem.innerHTML = width * 1 + '%';
                }
            }
        }
    </script>
</body>

</html>